.App {
  text-align: center;
}

.label {
  display: block;
  font-size: larger;
  color: grey;
  padding: 5px;
}

.input {
  font-size: larger;
  padding: 5px;
  margin: 2px;

}

.btn {
  color: red;
  border-radius: 5px;
  font-size: larger;
  display: block;
  padding: 5px;
  margin: 10px auto;
}

.messages {
  display: flex;
  justify-content: center;
  color: red;
}

.error {
  display: block;
  color: white;
  width: fit-content;
  height: 50px;
  padding: 5px;
}

.success {
  display: block;
  background-color: lightblue;
  color: black;
  width: fit-content;
  height: 50px;
  padding: 5px;
}